<% provide(:title, "Forgot password") %>
<h1>Password reset</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-0">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-mini' %>
		<br><br>
      <%= f.submit "Submit", class: "button" %>
    <% end %>
  </div>
</div>