<div><%= link_to issue_path( :problem_id => @problem.hashid), :class => "button button-hollow" do %>  
  <span class="tooltip-toggle" href="#" aria-label="View proposals and criteria as lists" tabindex="0">
    <i class="fas fa-list"></i> Main view
  </span>

  <span class="tooltip-toggle" href="#" aria-label="View proposals and criteria as lists" tabindex="0">
    Criteria
  </span>

  <span class="tooltip-toggle" href="#" aria-label="View proposals and criteria as lists" tabindex="0">
    Proposals
  </span>

  <span class="tooltip-toggle" href="#" aria-label="View proposals and criteria as lists" tabindex="0">
    Table
  </span>

  <span class="tooltip-toggle" href="#" aria-label="View proposals and criteria as lists" tabindex="0">
    Discussion
  </span>
<% end %>
</div><br>