<div class="backdrop">

<!-- <div class="back-button">
  <%= link_to main_feed_path do %>
    <div class="back-button-arrow"></div>
    <div class="back-button-content">
      Back
    </div>
  <% end %>
</div>
 -->
<ul class="nav nav-tabs">
	<li class="active"><%= link_to 'New convergent process', post_problem_path %></li>
</ul>

<div class="form-tab">
	<%= render 'form', problem: @problem %>	
</div>

</div>