<div class="backdrop">

<!-- <div class="back-button">
  <%= link_to main_feed_path do %>
    <div class="back-button-arrow"></div>
    <div class="back-button-content">
      Back
    </div>
  <% end %>
</div>
 -->

<ul class="nav nav-tabs">
	<!-- <li class="active"><%= link_to 'New collaboration', post_problem_path %></li> -->

  <h2> New Convergent Process </h2>
</ul>


<div class="form-tab">
	<%= render 'form', problem: @problem %>	
</div>

</div>