<%= link_to notification_redirect_url(:notification_id => @notification.id) do %>
  <p><%= @notification.details %></p>
<% end %>


<p>You can update your email preferences in your profile settings</p>