<!-- <div>Sidescrolling quotes</div>
<small>"Apes together strong" -Caeser</small>
<small>""</small>
<br><br> -->

<h1>Welcome to CommitCamp.</h1>
<h2>Collaborate with strangers or friends.</h2>
<!-- <h2>Work together with less risk.</h2> -->

<div>A hub for collective action.</div>
<div>Like change.org but for actually doing things.</div>

<br>
<h3>Steps</h3>
<ol>
  <li>Propose a collective action</li>
  <li>Invite others to join the action</li>
  <li>If not enough people join, the action doesn't happen and no energy is wasted. If enough people join, the action does happen.</li>
  <li>Profit</li>
</ol>

