<div id="about-outer">

<h1>Introduction</h1>
<p>Welcome to Convergence! This app contains tools to assist in collaborative decision making with the Convergent Facilitation process. If you are unfamiliar with Convergent Facilitation, you may want to visit <a href="http://convergentfacilitation.org/">convergentfacilitation.org</a> to learn more. Below are some tips to get you started.</p>

<!-- <h2>Sections</h2> -->
<ol id="about-sections">
	<strong>Sections</strong>
	<li><a href="#overview">Getting started</a>
		<ol>
			<li><a href="#">Starting a convergent collaboration</a></li>
			<li><a href="#">Joining an existing collaboration</a></li>
			<li><a href="#">Activating proposals</a></li>
		</ol>
	</li>
	<li><a href="#facilitation">Facilitation</a>
		<ol>
			<li><a href="#one-facilitator">Facilitator mode</a></li>
			<li><a href="#distributed-facilitation">Distributed facilitation</a></li>
		</ol>
	</li>
	<li><a href="#scoring">Scoring</a></li>
		<ol>
			<li><a href="#classic-scoring">Classic scoring</a></li>
			<li><a href="#weighted-scoring">Weighted scoring</a></li>
	</ol>
	<li><a href="#video">Video tutorial</a></li>

</ol>

<h1 id="overview">Getting started</h1>
<p>This app is free to use for the general public. Anyone can sign up using the quick login/signup form that appears at the top of the page for new users.</p>

<h2>Starting a convergent collaboration</h2>
<p>Anyone who has a decision that they wish to address with the convergent facilitation process can start a new collaboration.</p>

<ol>
	<li>From the menu bar, select <span class="click">New</span></li>
	<li>Choose a title, and fill out any important info in under "details"</li>
	<li>If you are using a facilitator, select <span class="click">facilitator mode</span>. (See <a href="#facilitation">facilitation</a> for more info)</li>
	<li>Choose a scoring method (See <a href="#scoring">scoring</a> for more info)</li>
	<li>Click <span class="click">Create</span>. This will generate a page that you can share with anyone you want to invite to the process.</li>
</ol>

<h2>Joining an existing collaboration</h2>
<p>If you visit the link to an existing collaboration, you can click <span class="click">join</span> or just start interacting and you will be automatically added as a collaborator. If you are not logged in when you visit, you will need to use the form that appears at the top of the page to do so. If you enter a username that does not yet exist, a new account will be created for you with that username.</p>

<!-- <%= video_tag "convergent-brainstorming-tutorial.mov", controls: true, autobuffer: true %> -->

<h1 id="facilitation">Facilitation</h1>
There are two ways to use this app: The first way is to assign a facilitator to oversee the process. This is the traditional way to conduct Convergent Facilitation, and gives one person the role of guiding the group towards a satisfactory outcome. The second way is to conduct the convergent facilitation process without a facilitator. This can be useful for quick decisions, for groups that do not have a trained facilitator, or for groups that wish to distribute power as much as possible.
<h2>Facilitator mode</h2>
<p>If you select "facilitator mode" when creating a new collaboration, you will be assigned the facilitator for that decision. As facilitator, you must approve new criteria before they are listed as active. To view unapproved criteria, click <span class="click">All</span> under the criteria section.</p>
<h2>Distributed facilitation</h2>
<p></p>

<h1 id="scoring">Scoring</h1>
<h2 id="classic-scoring">Classic scoring</h2>
<h2 id="weighted-scoring">Weighted scoring</h2>
<p>Proposals are scored in order to help make it clear which ones are more likely to be the most effective at serving a group's needs. The scoring algorithm considers how well a proposal meets each criteria, as well as how many supporters and objections each criteria has.</p>
<p>Criteria support is incorporated in order to give more weight to criteria that are important to more people. The more supporters a criterion has, the more importance it is given when proposal are polled. Objections are incorporated in order to prevent the appearance of a consensus when there is not one. The more objections a criterion has, the less high of a score a proposal can get for meeting it.</p>
<p>Below is a mathematical representation of the scoring algorithm.</p>

<div id="scoring-visual">
	<ul>
		<li>s = supporters</li>
		<li>d = objections</li>
		<li>a = polling average</li>
		<li>c = criterion</li>
	</ul>
	<%= image_tag("scoring-algorithm.png") %>
</div>

<h1 id="video">Video tutorial</h1>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/LCi4svJM5lg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<script type="text/javascript">
document.addEventListener('turbolinks:before-visit', function(e) {
  if (e.data.url.split(window.location.href)[1].length > 0) {
    e.preventDefault();
    window.location.href = e.data.url;
  }
});
</script>