<div id="about-outer">

<h1>Hello fellow Pittsburgher!</h1>
<p>Welcome to the Pittsburgh COVID-19 Resilience Network. This is a place to share resources, collect people for projects, and brainstorm ways to help each other get through this crisis.</p>

<h1 id="discussions">Discussions</h1>
<p>Discussions are a good way to talk about news, share resources, or just connect with each other. This is similar to a chatroom or forum. Comments in discussions can be "liked". After there are several comments a "top liked" section will appear. You can tag people in a comment to notify them by writing "@" followed by their username. Once discussions are created they will show up on the front page, and may also be shared outside this site. Actions and brainstorms also have their own mini discussions.</p>

<h1 id="crowdacting">Actions</h1>
<p>Actions are plans that need multiple people to work. This is a way to collect enough people to fill various roles so that an action can take place.</p>
<p>When you create an action, you may include one or more "roles". For each role, you may specify how many people are needed for that role.</p>
<p>Once actions are created they will show up on the front page, and may also be shared outside this site. Anyone can sign up to fill a role. Once the minimum required number of people have signed up to fill each role, the action can happen, and everyone who signed up will be notified. If not enough people sign up no one will be expected to fulfill their role.</p>

<h1 id="brainstorming">Brainstorms</h1>
<p>Brainstorms are a good way to think together with the community about how to address new problems.</p>
<p>To use this feature, first create a brainstorm proposing a new issue or problem that you think needs to be addressed. Once created, it will show up on the front page, and may also be shared outside this site.</p>
<p>Anyone who joins the brainstorm can then add "criteria", which are a way to figure out what needs to be considered when trying to address the problem under consideration.</p>
<p>People can then add "proposals" to the brainstorm. These proposals can be evaluated by anyone according to how accurately they meet the list of criteria. After being evaluated, each proposal receives an automatic score.</p>
<p>When creating a new brainstorm, you have the option to ask for proposals to be formatted as "actions", so that they can be turned into actions if they seem like good ideas.</p>
<p>If you would like to see a more detailed explanation of this process, check out this <a target="_blank" href="https://www.youtube.com/watch?v=LCi4svJM5lg">tutorial</a>.</p>


</div>

<script type="text/javascript">
document.addEventListener('turbolinks:before-visit', function(e) {
  if (e.data.url.split(window.location.href)[1].length > 0) {
    e.preventDefault();
    window.location.href = e.data.url;
  }
});
</script>