<div id="about-outer">

<h1>Introduction</h1>
<p>Welcome to this Collective Action Network (CAN). This is platform for decentralized organization, which primarily relies on two processes: criteria-driven problem solving and crowdacting.</p>
<p>Criteria-driven problem solving is a process for finding solutions to problems, or developing specific strategies around a general goal. This process centers around finding collectively accepted criteria that can serve as a guide for creating solutions that serve the needs of as many people as possible. Along with adding new criteria, users can add support for, or express objections to preexisting criteria. Less controversial options can also be suggested in place of unpopular criteria. When users suggest solutions, these are collectively scored based on how well they meet the criteria. This allows users to sort out the solutions that are most effective for the group.</p>
<p>Crowdacting is a solution to the collective action problem of perceived efficacy. When people have the option to take action that will only succeed if there is a critical mass of participants, and it is unclear whether this critical mass will be reached, potential participants face a dilemma in which they must decide whether to exert effort for an unsure goal. Crowdacting addresses this problem by allowing users to suggest collective actions and specify the minimum participation required for the action to be successful. Individuals can then safely agree to participate in collective action with the security of knowing that the action will only take place if it reaches that threshold.</p>

<h1>Sections</h1>
<ol id="about-sections">
	<li><a href="#brainstorming">Brainstorming</a>
		<ol>
			<li><a href="#criteria">Finding criteria</a></li>
			<li><a href="#solution_scoring">Scoring solutions</a></li>
			<li><a href="#solution_activation">Activating solutions</a></li>
		</ol>
	</li>
	<li><a href="#crowdacting">Actions</a>
		<ol>
			<li><a href="#action-participation">Participation</a></li>
			<li><a href="#action-deadlines">Deadlines</a></li>
		</ol>
	</li>
	<li><a href="#discussions">Discussions</a></li>
	<li><a href="#posting">Posting</a></li>
	<li><a href="#rules">Community rules</a></li>
</ol>

<h1 id="brainstorming">Brainstorming</h1>
<p>Brainstorms are a way of finding innovative and widely supported strategies. If there is an issue or goal you want to address with collective action, you can post a community brainstorm. This will activate a process by which anyone who wants to participate can help establish the criteria by which a solution must be evaluated, and propose solutions to address the topic.</p>
<h2 id="criteria">Finding criteria</h2>
<p>Criteria are most effective when they are acceptable to as many people as possible. For this reason, it is more effective to use general criteria than specific ones. Using general criteria also allows solutions to be more creative. For example, say you are planning an event and want to make sure you don't get rained out. You might want to add to the criteria "The even must take place indoors". However, some people might prefer an outdoor venue, and there might be a way to deal with rain other than using an indoor venue, like using an outdoor venue with cover, or having a backup plan for rain. Therefore, a more effective criteria might be something like "The event plan must account for the possibility of rain". This gives flexibility for solutions to find more unique and creative ways to approach this issue.</p>
<p>If there is a criterion that you object to, you can log that objection on that individual criterion's page. Any supporters of that criterion will receive a notification, and if they want, they can transfer there support to a less controversial or more general criterion.</p>
<p>To transfer support from one criterion to another, the alternative must first be added to the alternatives list. Anyone can add to this list at any time. Once it is on that list, you can click "Transfer to this" to remove support for the original criterion and add support to the alternative. This transfer gets recorded, and alternatives are ranked by how many people have transfered to each one.</p>
<p>Asside from helping to further the community goal of approaching consensus, transfering to less controversial criteria also serves individual incentives. Due to the nature of the scoring algorithm (explained below), a criterion that has a significant percentage of objections in contrast to supporters will have less effect on the solution scores than an uncontroversial criterion. Therefore it is in both the community's and individuals' interestes to find criteria that have the fewest objections.</p>

<h2 id="solution_scoring">Scoring solutions</h2>
<p>Solutions are scored in order to help make it clear which ones are more likely to be the most effective at serving a group's needs. The scoring algorithm considers how well a solution meets each criteria, as well as how many supporters and objections each criteria has.</p>
<p>Criteria support is encorporated in order to give more weight to criteria that are important to more people. The more supporters a criterion has, the more importance it is given when solutions are polled. Objections are encorporated in order to prevent the appearance of a consensus when there is not one. The more objections a criterion has, the less high of a score a solution can get for meeting it.</p>
<p>Below is a mathematical representation of the scoring algorithm.</p>

<h2 id="solution_activation">Activating solutions</h2>
<p>Solutions should always be framed as collective action. When writing a solution, you must specify all of the same parameters as you would when posting an action. This allows solutions to be sent directly from a brainstorm to the front page, where it can potentially gather enough support to be realized. This can happen if enough people suggest it. When creating a brainstorm, you must specify the number of people who have to suggest a solution before it is turned into an action. Specifying a higher number prevents the main feed from getting cluttered with actions. Actions that come out of brainstorms display their solution score, so potential participants can see how how much support they have before they decide whether to participate.</p>

<div id="scoring-visual">
	<ul>
		<li>s = supporters</li>
		<li>d = objections</li>
		<li>a = polling average</li>
		<li>c = criterion</li>
	</ul>
	<%= image_tag("scoring-algorithm.png") %>
</div>

<h1 id="crowdacting">Actions</h1>

<h1 id="rules">Community rules</h1>
<p>The following may result in content being removed and/or users being banned:</p>
<div>- Threats of violence</div>
<div>- NSFW content</div>
<div>- Bigotry</div>
<div>- Irrelevant content</div>
<br>

</div>

<script type="text/javascript">
document.addEventListener('turbolinks:before-visit', function(e) {
  if (e.data.url.split(window.location.href)[1].length > 0) {
    e.preventDefault();
    window.location.href = e.data.url;
  }
});
</script>