<h1 class="resources-title">Resources</h1>
<p>(Links to stuff people have made to help during this crisis)</p>

<ul class="resources">
  <li>
    <a target="_blank" href="https://docs.google.com/document/d/1bAxNmRXtmZGLtkyPW82-zMOVVfmfo1gLkPpe1fJa3Y4/edit">
      <h3><i class="fas fa-info-circle"></i> PA-specific info about COVID-19</h3>
      <p>A detailed list of how the local and federal laws effect PA residents</p>
    </a>
  </li>

  <li>
    <a target="_blank" href="https://docs.google.com/spreadsheets/d/1FQO1uLpHQgc3VU1GgFq1MnjhiGzQhpSN8GwKgHtbvdM/edit#gid=1942870066">
      <h3><i class="fas fa-handshake"></i> Pittsburgh mutual aid resource library</h3>
      <p>Google sheet for offering and requesting services or resources</p>
    </a>
  </li>

  <li>
    <a target="_blank" href="https://alcogis.maps.arcgis.com/apps/MapSeries/index.html?appid=abaca148492b47a7ad0d5a71f5d2c5e8&fbclid=IwAR0MINE77ivRka2rxlq_FfOXlNilNpqI2USo-f4HZIxHtqcF5X_zfpDT8EU">
      <h3><i class="fas fa-utensils"></i> Free food distribution locations</h3>
      <p>Map of all locations that distribute free food in Pittsburgh</p>
    </a>
  </li>

  <li>
    <a target="_blank" href="https://docs.google.com/document/d/1m9WPK2Yo1flRU-7U8jlKhjTMA6C9anDVT8SbkoT3-OM/edit?fbclid=IwAR2qO2Zl9ifqT0xO897ulF9-RNZ3jMkeFkV2MaI9Fd83JInJRrnTagCwERo">
      <h3><i class="fas fa-clipboard"></i> Printable neighbor note</h3>
      <p>Template for a notice you could print and give to your neighbors to start a mutual aid group chat</p>
    </a>
  </li>

  <li>
    <a target="_blank" href="https://docs.google.com/spreadsheets/d/1M-8J7z605dcPhUjYfyiKVxuci0e4AWsDLo_tvs19C5M/htmlview?fbclid=IwAR2QyVFx08FRm0ffc0_pb6ot_s7t70j3Iner3XZioLihbZTYc1u0Kyt9uok">
      <h3><i class="fas fa-search-dollar"></i> Jobs hiring now</h3>
      <p>List of all companies that have open listings</p>
    </a>
  </li>

  <li>
    <a target="_blank" href="https://www.pittsburghforpublictransit.org/join-the-swpa-covid19-community-response-phonebank-to-support-our-neighbors/">
      <h3><i class="fas fa-phone-volume"></i> Poor People's Campaign phonebank</h3>
      <p>Phonebank to connect people to resources</p>
    </a>
  </li>
</ul>

<br>
<p>Have suggestions for this list? Email rebel-software@protonmail.com</p>