$background-gray: #efeeee;
$success-red: #ff7455;
$offwhite: #f5f5f5;

.show-action {
  // border: 1px solid #d8d8d8; 
  // border-radius: 2px;
  // margin-right: 10px;
  display: inline-block !important;
  margin-right: 20px;
  margin-bottom: 10px;

  .activity-title {
    margin: 0;
  }

  .roll-progress-outer {
    width: 200px;
    margin: 0;
  }
}

.proposal {
  border-radius: 2px;
  margin-bottom: 10px;
  display: block;
}

.proposal-block-one {
  display: inline-block;
  margin-bottom: 2px;
}

.activity-title {
  font-size: 14px;
  padding-bottom: 2px;
}

.activity_title {
  width: 100%;
}

.activity-info {
  display: inline-block;
}

.activity-info > div {
  display: inline-block;
  color: #757575;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: -0.2px;
}

.proposal-activity-description {
  font-size: 12px;
  line-height: 14px;
}

.nav-tabs > li.active > a {
	background-color: $background-gray !important;
	border-radius: 2px;
}

#activator > ol {
	padding: 0px;
	margin: auto;

  a {
    font-style: normal;
  }
}

.participation-meter {
	width: 200px;
	border-radius: 2px;
  background-color: transparent;
}

.participation-meter {
  height: 8px !important;
  // width: 100%;
  margin-top: 4px;

  .participation-progress.second {
    top: -18px;
    position: relative;
  }
}

.participation-progress {
	height: 100%;
	float: left;
  border-radius: 2px;
  max-width: 101%;
}

.written-progress {

  position: relative;
  top: -13px;
  // left: -162px;
  // color: #565656 !important;
  color: #757575 !important;
  font-weight: bold !important;
  font-size: 10px !important;

  // color: #757575;
  // font-weight: 600;
  letter-spacing: -0.2px;

  // display: inline-block;
  // color: black;
  // font-weight: 600;
  // font-size: 10px;
  // letter-spacing: -0.2px;
  // width: 200px;
  // text-align: center;
  // position: relative;
  // top: -21px;
}

.role-progress {
  width: fit-content;
  display: inline-block;
}

.commit {
  position: relative;
  top: -5.5px;
}

.participation-meter-outer .tall-meter {
  height: 18px !important;
}

.all-roles {
  margin-top: 6px;
  padding: 0;
  list-style: none;

  li {
    background-color: white;
    display: inline-block;
    width: 100%;
    margin-right: 20px;
    vertical-align: top;
    box-shadow: 0px 3px 6px 0px #d0d0d0;
    border: 1px solid #efefef;
    padding: 14px 18px;
    padding-bottom: 2px;
  }
}

.written-progress-overlay {
  position: relative;
  top: -19px;
  // left: -274px;
  text-align: center;
  width: 200px;
  font-size: 11px;
  font-weight: bold;
}

.white {
  color: white;
}

.committed, .completed {
  // color: rgb(255, 116, 85);
  color: rgb(119, 166, 255);
  font-size: 12px;
  font-style: italic;
  position: relative;
  // top: -18px;
}

.activated-tag, .completed-tag {
  position: relative;
  margin: 4px;
  margin-left: 0;
  top: -10.5px;
  font-size: 9px;
  text-transform: uppercase;
  color: black;
  font-weight: bolder;
  // left: -138px;
  // left: 62px;
  letter-spacing: 1px;
  // display: flex !important;
}

.completed-tag {
  color: white;
//   position: relative;
//   // top: -3px;
//   font-size: 9px;
//   text-transform: uppercase;
//   font-weight: bolder;
//   // left: -139px;
//   margin: 2px 0;
//   letter-spacing: 1px;
//   // display: inline-block;
//   // color: white;
//   // font-style: italic !important;
//   border-radius: 2px;
}

.committed {
  color: rgb(255, 116, 85);
  font-size: 10px;
  font-style: italic;
  position: relative;
  vertical-align: top;
  top: -2px;
}

#propose-activity {
  margin-bottom: 10px;
  padding: 4px;
  display: inline-block;
  border-radius: 2px;
}

.roll-progress-outer {
  margin: 0 50px;
  display: flex;
}

.roll-progress {
  margin: auto;
  max-height: 20px;
  min-width: fit-content;
  width: 100%;
  // display: flex;  
  display: inline-block;
  text-align: center;

  div {
    display: inline-block;
  }

  // line-height: 15px;
  line-height: 0;
  // margin-top: 2px;
}

#role_title {
  width: 100px;
}


.dissent-activity {
  background-color: $offwhite;
  width: 200px;
  float: right;
  display: none;
}

.commit.button, .complete.button {
  display: inline-block;
  // background-color: #18a57e;
  // background-color: #77a6ff;
  background-color: #6c9bf5;
  border: 1px solid;
  font-size: 10px;
  line-height: 12px;
  position: relative;
  top: -5px;
  padding: 4px 6px;
  color: white;
  letter-spacing: -0.2px;
  border-radius: 2px;
  color: white !important;
  vertical-align: top;
  margin-top: 4px;
  margin-left: 3px;

  i {
    color: white !important;
  }

  &:hover {
    // background-color: #0b8a67;
    // background-color: #9dbdfb;
    background-color: #a9c6fd;
  }
}

.complete.button {
  // background-color: #ff5d5d;

  &:hover {
    // background-color: #dc3e3e;
  }
}

// FORM
.main > * {
  width: 100%;
}

.activation input {
  width: 60px;
}

#activity_description {
  height: 200px;
}

#submit_action {
  margin-top: 12px;
  // background-color: $success-red;
  background-color: #2afb43;;
  border: 1px solid #ddd;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border: none;

  &:hover {
    // background-color: #cc5d44;
    background-color: #17b129;
  }
}

.role {
  margin-top: 4px;

  div {
    display: inline-block;
  }

  input {
    margin: 2px;
  }

  #role_description {
    width: 200px;
  }

  #role_minimum, #role_maximum {
    width: 40px;
  }
}

#add-role {
  width: fit-content;
  padding: 0px 4px;
  border: 1px solid #5a5757;
  color: #5a5757;
  background-color: #dadada;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;

  i {
    color: #5a5757;
  }
}

.remove-role {
  cursor: pointer;
}

// #action-columns {
//   column-count: 2;
// }

// INVITATION
.signup-action-form {
  // display: none;
  opacity: 0;
  text-align: center;

  input[type=submit] {
    // background-color: #02d577;
    text-transform: none;
    border: 0;
    margin-top: 20px;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 0;

    &:hover {
      background-color: #5bf95b;
    }
  }
}

.invitation, .signup-action-form {
  padding: 10px;
  margin: auto;
  max-width: 600px;
  transition: all 0.5s ease;

  * {transition: all 0.5s ease;}

  li {
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: left;

    > div {
      width: 100%;
    }

    &.select {
      cursor: pointer;

      &:hover {
        background-color: #f9f9f9;
      }
  
      &.selected {
        border: 1px solid #02d577;
        transition: border 1s;
      }
    }
  }

  .fadein {
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }

  p.fadein, p.innerfade {
    font-family: Montserrat;
    font-size: 20px;
    padding-top: 30px;
    line-height: 26px;
  }

  div.fadein {
    // width: fit-content;
  }

  .commit-options, .request {
    width: 100%;
    text-align: center;
    margin: 30px 0;
  }

  .commit-action, .cancel-commit {
    color: white;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 16px;
    margin: 10px;
    border: 0;
  }

  .yes, .no  {
    color: white;
    cursor: pointer;
    padding: 4px 8px;
    font-size: 20px;
    // border-radius: 2px;
    border: 0;
    margin: 10px;
  }

  .yes, .commit-action {
    background-color: #27e027;

    &:hover {
      background-color: #5bf95b;
    }
  }

  .no, .cancel-commit {
    background-color: #fd7850;

    &:hover {
      background-color: #fbac94;
    }
  }

  .yes-notice {
    display: none;
    font-family: Montserrat;
    font-size: 15px;
    color: #ffffff;
    background-color: #27e028;
    padding: 4px 8px;
    font-weight: bolder;
  }

  .commit-form {
    display: none;
    text-align: center;
  }

  .participation-meter {
    height: 8px !important;
    width: 100%;
    margin-top: 6px;

    .participation-progress.second {
      top: -18px;
      position: relative;
    }
  }

  .label__checkbox {
    display: none;
  }

  .label__check {
    display: inline-block;
    border-radius: 50%;
    border: 5px solid rgba(0,0,0,0.1);
    background: white;
    vertical-align: middle;
    margin-right: 20px;
    width: 4em;
    height: 4em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .3s ease;
    
    i.icon {
      opacity: 0.2;
      font-size: 2em;
      color: #311414;
      transition: opacity .3s .1s ease;
    }
    
    &:hover {
      border: 5px solid rgba(0,0,0,0.2);
    }
  }

.label__checkbox:checked + .label__text .label__check {
  animation: check .5s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;
  
  .icon {
    opacity: 1;
    transform: scale(0);
    color: white;
    -webkit-text-stroke: 0;
    animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
  }
}


@keyframes icon {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes check {
  0% {
    width: 4em;
    height: 4em;
    border-width: 5px;
  }
  10% {
    width: 4em;
    height: 4em;
    opacity: 0.1;
    background: rgba(0,0,0,0.2);
    border-width: 15px;
  }
  12% {
    width: 4em;
    height: 4em;
    opacity: 0.4;
    background: rgba(0,0,0,0.1);
    border-width: 0;
  }
  50% {
    width: 4em;
    height: 4em;
    background: #00d478;
    border: 0;
    opacity: 0.6;
  }
  100% {
    width: 4em;
    height: 4em;
    background: #00d478;
    border: 0;
    opacity: 1;
  }}
}
// INVITATION ENDS

@media only screen and (max-width: 700px) {
  #action-columns {
    column-count: 1;
  }
}

#action-details > p {
  min-height: 302px;
  background-color: white;
  border-radius: 2px;
  padding: 10px;
  color: #3a3a3a;
  overflow-wrap: break-word;
  box-shadow: 0px 3px 6px 0px #d0d0d0;
  border: 1px solid #efefef;
}

#mark-complete {
  float: right;
  color: #3a3a3a !important;
}

#open-discussion {
  background: #d6d6d6;
  padding: 4px 8px;
  border-radius: 1px;
  cursor: pointer;
  width: max-content;

  position: relative;
  top: -10px;
  left: 10px;
}

// 
// #main-feed .proposal {
//   display: flex;
//   background-color: white;
//   padding: 20px;
//   border-radius: 3px;
//   margin-bottom: 20px;
// }