.comment, .chatlog {
	min-height: 18px;
	min-width: 10px;
	margin: 0;
	max-width: calc(100% - 34px);
	background-color: transparent;

 	a {
 		// color: #3a3a3a !important;
    color: #09c2fb !important;
 	}
}

.chatlog {
  color: gray !important;
  font-style: italic;
}

.discussion-column {
  li {
    div {
      display: inline;
    }
  }
}

.time {
  color: gray !important;
}