$dissent-green: #3be1ea;
$success-red: #ff7455;
$neutral-blue: #0091ff;
$label-blue: #81c4ff;

.problem-title {
	font-weight: bold;
}

.criterion-action-box {
	background-color: white;
	padding: 4px 6px;
	margin-bottom: 10px;
	border-radius: 2px;
  height: 300px;
  // min-width: 300px;
  // max-width: 400px;
  // width: 24em;
  width: 48%;
  min-width: 24em;
  display: inline-block;
  vertical-align: text-top;
  border: 1px solid black;
  box-shadow: 0px 3px 6px 0px #d0d0d0;
  border: 1px solid #efefef;
  margin-right: 4px;
  overflow: auto;

  h3 {
  	background-color: transparent;
  	font-weight: bold;
  }

	ul {
		margin: 0;
		list-style: none;
		padding: 0;
		
		li {
      // max-width: 280px;
			margin: 4px 0;
		}
	}

  .dropright .button {
    // border: 1px solid #505050;
    // padding: 2px 5px;
    // border-radius: 2px;
    // background-color: #8e8e8e;
    // color: whitesmoke;
    // outline: none;

    i {
      // color: whitesmoke;
    }
  }

  .dropdown-menu {
    padding: 4px;
    min-width: 252px;
    max-height: 200px;
    overflow: auto;

    li {
      margin-bottom: 8px !important;
    }
  }
}

.criterion-outer {
	.criterion-action-box {
		color: #3a3a3a;
    color: #525252;
		* {
			// color: #3a3a3a;
      color: #525252;
		}
	}
}

.suggest-link, .submit-dissent > input, .transfer-link, #submit_form {
  padding: 2px 6px;
  border-radius: 2px;
  color: white !important;
  font-style: normal;
  font-size: 12px;
}

.suggest-link {
  // background-color: $neutral-blue;
  background-color: #13a3c3 !important;
  &:hover {
  	background-color: #27b9da !important;
  }
}

.submit-dissent > input {
  padding: 0px 6px;
  background-color: $dissent-green;
  border: 1px solid #30bac1;
  text-transform: uppercase;

  &:hover {
    background-color: #48eef7 !important;
  }
}

#submit_form {
  // background-color: #292929;
  border-radius: 2.8px;
  &:hover {
    // background-color: black;
  }
}

.transfer-link {
  // background-color: $neutral-blue;
  background-color: #5db9ff !important;

  &:hover {
  	background-color: #87c7f7 !important;
  }
}

.criterium-dissent {
  margin: 4px 0;
  padding: 2px;
  vertical-align: top;
  display: inline-block;
  width: 100%;
  textarea {
    height: 40px;
    margin-bottom: 4px;
    width: 100%;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
  }
}

.dissent-title > textarea {
  min-width: 26em;
  min-height: 4em;
}

.cancel-support, .sponsor-criteria {
  margin: 10px 0px;
}

.object-button {
  background-color: #d27575 !important;
  border-color: #904d4d !important;

  &:hover {
    background-color: #c53131 !important;
  }
}