.goal-node-outer {
  position: absolute;
  width: 100vw;
  left: 0;
  text-align: center;
  overflow: auto;
}

.goal-node {
  text-align: center;

  .details-subgoal {
    border-radius: 2px;
    text-align: center;
  }

  &.details {
    color: #7f7f7f;
  }

  h2.goals-title {
    // display: inline-block;
  }

  .goal-middle {
    // position: relative;
    // right: -58px;
  }


  .back-button {
    margin: auto;
    width: fit-content;
    // display: inline-block;
    // height: 0;
    // vertical-align: top;
  }


  h1 {
    max-width: 280px;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.6em;
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .strikethrough {
    text-decoration: line-through;
    color: gray !important;
  }

  .goal-actionables {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    margin: 0;
    position: relative;
    padding: 2px 4px;
    border-radius: 2px;
    background: gainsboro;
    text-align: left;
  }

  .actionables-right {
    // left: -6px;
    // text-align: left;
  }

  .actionables-left {
    // right: -6px;
    // text-align: right;
  }

  .dropdown-menu {
    padding: 10px;
    margin: 0;
    font-size: 10px;
    max-height: 300px;
    overflow: auto;
  }

  .mark-accomplished {
    background-color: #dcdcdc;
    padding: 2px 4px;
    right: 12px;
    border: 1px solid #a9a9a9;
    width: fit-content;
    margin: auto;
    color: gray;

    &:hover {
      background-color: #c3c3c3;
    }
  }

  .view-goal-details {
    display: inline-block;
    background-color: #dcdcdc;
    padding: 2px 4px;
    position: relative;
    // right: 12px;
    border: 1px solid #a9a9a9;
    color: gray;

    &:hover {
      background-color: #c3c3c3;
    }
  }

  .view-actionables {
    display: inline-block;
    background-color: #dcdcdc;
    padding: 2px 4px;
    position: relative;
    // left: 12px;
    border: 1px solid #a9a9a9;
    color: gray;

    &:hover {
      background-color: #c3c3c3;
    }
  }

  .button.add {
    background: transparent;
    border: 1px solid #a9a9a9;
    outline: none;
    position: relative;
    top: -3px;
    padding: 2px 6px;
    color: gray;
    background-color: #dcdcdc;

    &:hover {
      background-color: #c3c3c3;
    }

    .fas {
      // line-height: 0;
      // position: relative;
      // top: -2px;
    }
  }

  #new_goal {
    text-align: center;
    margin-bottom: 10px;
  }

  #goal_title {
    width: 100%;
  }

  ul {
    padding: 0;
  }

  .branches, .roots {
    a:hover {
      text-decoration: underline;
    }
  }

  .branches {
    list-style: none;
    bottom: -4px;
    position: relative;
    // display: flex;

    li {
      display: inline-block;
      margin: 4px;
      margin-bottom: 0;

      // flex: 1 1 100%;
      text-align: center;
    }
  }

  .roots {
    list-style: none;
    // display: flex;

    li {
      display: inline-block;
      // width: 20%;
      // border: 1px solid gray;
      border-bottom: none;

      font-size: 12px;

      flex: 1 1 100%;
      // display: table-cell;
      margin-right: -1px;
      margin-left: -1px;

      margin-right: 4px;
      margin-left: 4px;

      border-collapse:collapse;

      vertical-align: top;

      a {
        // background-color: gray;
        // color: white;
        // padding: 2px 4px;
        // color: black
      }
    }
  }

  .roots0 {
    margin: auto;
    width: max-content;

  //   // display: inline-block;
  //   position: absolute;
  //   width: 90vw;
  //   left: 5vw;

  //   // li {
  //   //   flex: 0;
  //   // }
  }

  .link {
    color: #9e9e9e !important;
    transition: none;

    &:hover {
      color: #797979 !important;
      text-decoration: none !important;
    }
  }

  .unlink {
    color: #797979 !important;
    transition: none;

    &:hover {
      color: #9e9e9e !important;
      text-decoration: none !important;
    }
  }

  // .roots1 {
  //   width: 90vw;
  //   position: absolute;
  //   left: 5vw;
  // }

  hr {
    margin: 0;
    border-width: 2px;
    border-color: #dcdcdc;
  }

  .line {
    height: 30px;
    border-right: 4px solid #dcdcdc;
    text-align: center;
    width: 1px;
    margin: auto;
  }

  .horizontal {
    height: 1px;
    width: 30px;
    display: inline-block;
    border-top: 4px solid #dcdcdc;
  }

  .line-right {
    margin-left: 14px;
  }

  .line-left {
    margin-right: 14px;
  }

  .highlight {
    background: gainsboro;
    width: calc(100% + 13px);
    position: relative;
    left: -4px;
    border-radius: 20px;
    color: #787878;
    
    a {
      max-width: 100px;  
      color: #3c3c3c;
    }

    .highlight-title {
      max-width: 120px;
      margin: auto;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  .highlight.short {
    width: fit-content;
    margin: auto;
    padding: 2px 4px;
  }

  // .roots2 {
  //   color: red;
  // }

  // .roots3 {
  //   color: green;
  // }

  // .roots4 {
  //   color: purple;
  // }

  .dropdown-menu {
    left: -112px;
    width: 246px;
  }

  .goal-details-section {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    max-width: 26%;
    border: 1px solid #d8d8d8;
    padding: 0px 8px;
    // background-color: white;

    background-color: whitesmoke;
    box-shadow: 0px 3px 6px 0px #d0d0d0;

    ul {
      list-style: none;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 2px 4px;

      li {
        // box-shadow: 0px 3px 6px 0px #d0d0d0;
        padding: 0 2px;
        // border: 1px solid #efefef;
        margin-bottom: 6px;
        margin-top: 6px;
        overflow: hidden;
        text-overflow: ellipsis;

        background-color: #ececec;
        border: 1px solid #a9a9a9;
        color: gray;
      }
    }

    h2 {
      margin-top: 8px;
    }

    h3 {
      font-size: 12px;
      font-weight: bold;
    }
  }

}

.goal-list-title {
  display: inline-block;
}

#myInput, #myInput2 {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 12px; /* Increase font-size */
  padding: 2px 4px 2px 4px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 2px; /* Add some space below the input */
}

#myUL, #myUL2 {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

#myUL li a, #myUL2 li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: 2px; /* Prevent double borders */
  background-color: #bfbfbf; /* Grey background color */
  padding: 2px 4px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 12px; /* Increase the font-size */
  // color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header), #myUL2 li a:hover:not(.header) {
  background-color: #c7c7c7; /* Add a hover effect to all links, except for headers */
}