// Place all the styles related to the polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.poll-yes, .poll-no {
	font-style: inherit;
	border: 1px solid;
	padding: 0 2px;
	border-radius: 2px;
	border-color: black;
	margin: 0 4px;
}

.poll-yes {
	color: black !important;
	background-color: white !important;
	// background-color: #1efd0f !important;
	&:hover {
		background-color: #e8e8e8 !important;
		// background-color: #91ffae !important;
	}
}

.poll-no {
	color: white !important;
	background-color: black !important;
	// background-color: #ff2e2e !important;
	&:hover {
		background-color: #464646 !important;
		// background-color: #ff8f8f !important;
	}

	i {
		color: white !important;
	}
}

.criterion-poll-text {
	font-size: 10px;
	font-weight: bold;
}

.criterion-poll {
    text-align: center;
    margin: 6px;
}

.criterion-poll-numbers {
  display: inline-block;
	margin-right: 10px;
}