// Place all the styles related to the problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// $dissent-green: #05adab;
$dissent-green: #3be1ea;
$success-red: #ff7455;

.issue {
  // border-radius: 2px;
  // margin-bottom: 10px;
  // display: block;
  // background-color: #343536;
}

.issue-title {
  font-size: 14px;
}

.issue-info > div {
  display: inline-block;
  margin-right: 4px;
  color: #757575;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: -0.2px;
}

.issue-description {
  margin-top: 8px;
  font-size: 12px;
  margin-bottom: 0;
  padding: 6px 10px;
  border: 1px solid #d8d8d8;
  background: white;
}

#solver{
  ol {
  	padding: 0px;
  	margin: auto;

    a {
      font-style: normal;
    }
  }
} 

#issue-details {
  background-color: white;
}

.right-buttons {
  display: inline-block;
  float: right;

  // a {
    // color: #3a3a3a !important;
  // }
}

#criteria {
  display: inline-block;
}

#issue-criteria {
  display: inline-block;

  h2 {
    margin-bottom: -6px;
    line-height: 28px;
  }
}

.sponsor-count {
}

.dissenter-count {
  color: $dissent-green !important;
}

#issue-criteria {
  width: 100%;
}

.criterion-description {
  display: block;

  #criterium_title {
    width: 100%;
    height: 100px;
  }
}

#submit-criteria .field,
#submit-criteria .actions {
  display: inline-block;
  margin: 0;
}

.actions {
  width: 100%;
  border: 1px solid;
  border-top: none;
  text-align: right;
  background-color: white;
}

#submit-criteria .field textarea {
  width: 100%;
  height: 60px;
  vertical-align: top;
}

.criteria-list {
  float: left;
  column-count: 4;
  display: inline-block;
  border-radius: 2px;
  width: 100%;
  padding: 4px 10px;
  border: 1px solid #d8d8d8;
  margin: 10px 0px;
  background: white;
  min-height: 100px;
}

.criterium {
  margin-bottom: 6px;
  margin-top: 6px;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  border-radius: 4px;
  width: 100%;
  max-width: 20vw;
  padding: 2 4px;
  box-shadow: 0px 3px 6px 0px #d0d0d0;
  border: 1px solid #efefef;
  line-height: 16px;

  * {
    // color: #3a3a3a;
    color: #525252;
  }
}

@media only screen and (max-width: 700px) {
  .criteria-list {
    column-count: 2;
  }

  .criterium {
    max-width: 40vw;
  }
}

.dissent-title {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  font-size: 10px;
}

.dissent-stuff {
  padding: 2px;
  width: auto;
  vertical-align: top;
  display: inline-block;
}

.dissent-instructions {
  font-size: 10px;
}

.criteria-sponsorship {
  padding: 2px;
  width: auto;
  vertical-align: top;
  display: inline-block;
  float: left;
}

.criterium-title {
  padding: 4px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  // display: inline-block;
}

.criterium-response {
  // padding: 4px;
  vertical-align: top;
  display: inline-block;
  cursor: default;

  span {
    margin: 2px;
    letter-spacing: -1px;
  }
}

.solutions {
  padding: 0;
}

.new-criterium {
  margin: 6px;
  width: auto;
}

#post-problem {
  margin-bottom: 10px;
  padding: 4px;
  display: inline-block;
  border-radius: 2px;
}


// FORM
.main-field textarea {
  width: 100%;
}

#problem_description {
  height: 200px;
}

#submit_brainstorm {
  margin-top: 12px;
  background-color: $dissent-green;
  border: 1px solid #ddd;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border: none;

  &:hover {
    background-color: #059290;
  }
}



// DISCUSSION
#extra-sections-outer {
  width: 100%;

  &>div {
    display: inline-block;
    width: 47%;
  }
}

@media only screen and (max-width: 700px) {
  #extra-sections-outer {
    &>div {
      width: 100%;
    }
  }

  #criteria-list {
    column-count: 2;
  }
}

.criteria-outer, .discussion-outer, .solutions-outer {
  display: inline-block;
  width: 100%;
  margin-right: 20px;
  vertical-align: top;

  #main-discussion {
    width: 100%;
    margin-left: 0;   
  }

  .discussion-column.mini {
    min-height: 290px;
    height: auto;
    box-shadow: 0px 3px 6px 0px #d0d0d0;
    border: 1px solid #efefef;

    * {
      color: #3a3a3a;
    }

    #scroll-div {
      height: 240px;
      resize: vertical;
      overflow-y: auto;
    }

    ul {
      padding: 0;
    }
  }
}

#full-discussion-view {
  float: right;
  color: #3a3a3a !important;
  font-size: 12px;
  margin: 8px;
  font-style: normal;
  text-transform: uppercase;

}

#suggestion_min {
  width: 40px;
}

.number-field-outer {
  p {
    width: 200px;
  }

  p, input {
    display: inline-block;
  }
}

#paginate_solutions, #paginate_feed {
  * {
    line-height: 8px;
    font-size: 12px;
  }

  .pagination {
    margin: 0;
  }

  .active > a {
    background-color: gray;
    color: white;
  }

  a {
    color: black;
  }
}

.proposal-grid {

  td, th {
    border: 1px solid;
    text-align: center;
    padding: 0;

    &:hover {
      background-color: transparent;
    }

    a {
      font-style: normal;
      width: 100%;
    }
  }  

  .table-title {
    background-color: #e6e5e5;
    cursor: default !important;
    padding: 0 4px;

    &:hover {
      background-color: #e6e5e5;
    }
    // border: none;
  }

  td.table-title {
    text-align: left;
  }

  th.table-title {
    width: 100px;
    text-align: left;
    padding: 2px 6px;
  }

  .yes {
    background-color: #75cbde;

    &:hover {
      background-color: #75cbde;
    }
  }

  .no {
    background-color: #c76f6f;

    &:hover {
      background-color: #c76f6f;
    }
  }

 .yes-score {
    border-right: 0.5px solid lightgray;
    border-left: 0.5px solid black;

    &:hover {
      background-color: #a3dae6;
      // cursor: pointer;
    }

    &.answered {
      a > div {
        border: 4px solid #a3dae6;      
        line-height: 32px;
      }
    }
  }

  .no-score {
    border-left: 0.5px solid lightgray;
    border-right: 0.5px solid black;

    &:hover {
      background-color: #dca6a6;
      // cursor: pointer;
    }

    &.answered {
      a > div {
        border: 4px solid #dca6a6;  
        line-height: 32px;      
      }
    }
  }

  .yes-score.total {
    background-color: #a3dae6;
  }

  .no-score.total {
    background-color: #dca6a6;
  }

  .yes-score, .no-score {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
    line-height: 3em;
    height: 20px;

    div {
      height: 39px;
      min-width: 45px;
    }

    :after {
      content: "";
      position: absolute;
      left: 0;
      top: -5000px;
      height: 10000px;
      width: 100%;
      z-index: -1;
    }

    &:hover {
      :after {
        background-color: #ffa !important;
      }
    }

  }

  .percentage {
    background-color: #ce9fce;

    &:hover {
      background-color: #ce9fce;
    }
  }

  .weighted {
    background-color: #8aa8ec;

    &:hover {
      background-color: #8aa8ec;
    }
  }

  .table-hidden {
    border: none;
    background-color: #f5f5f5 !important;
    // background-color: #9c9c9c !important;
    // color: white;
    text-align: right;
    padding: 4px;
    font-weight: normal;
  }
}

.outer-table {
  overflow: auto;
  resize: both;
  // max-width: fit-content;
  padding: 8px;
  
  // width: 100% !important;
  // border: 2px solid #9c9c9c;
  // background-color: #d8d5d5;

  box-shadow: 0px 3px 6px 0px #776c6c;
}

.outer-table::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #9c9c9c;
} 

.outer-table::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 6px;
}

table {
  overflow: hidden;
}

tr {
  height: 20px;
}

tr:hover {
  background-color: #ffa;
}

td, th {
  position: relative;
  height: 20px;
}

