$offwhite: #f5f5f5;
$label-blue: #81c4ff;

// MAIN FEED

#main-feed ol {
	padding: 0px;
	margin: auto;

  a {
    font-style: normal;

    &:hover {
      .issue-title, .activity-title, .discussion-title, .goal-title {
        .underline {
          text-decoration: underline;          
        }
      }
    }
  }
}

.issue-title, .activity-title, .discussion-title, .goal-title {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  // font-size: 13px;
  font-size: 15px;

  // width: 50%;
  width: 100%;
  font-family: sans-serif;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  margin: 10px;
}

.issue-info, .activity-info, .discussion-info, .written-progress {
  line-height: 12px;
  display: inline-block;
  // margin-left: 22px;
  font-weight: normal;
  font-size: 11px;
  display: block;

  div {
    font-weight: normal;
    font-size: 11px;
    // display: inline-block;
  }
}

.post-signature {
  font-size: 12px !important;
  font-weight: 100;
}

#main-feed {
  .proposal, .issue, .discussion {
    // box-shadow: 0px 3px 6px 0px #d0d0d0;
    // background-color: white;
    // border: 1px solid #dadada;
    // margin-left: -8px;
    // padding: 4px 0px;
    // padding-left: 26px !important;
    // margin-bottom: 10px;
  }
}

#group_nav {
  width: fit-content;
  border-bottom: 4px solid #ff9900;

  > span {
    padding: 4px 8px 0px 8px;
    background-color: #d2d2d2;
    border-radius: 10px 10px 0 0;
  }

  > span.current_group {
    background-color: #ff9900;
    color: white;
  }
}

#main-feed {
  .post-outer {
    list-style: none;
    margin-bottom: 20px;
    display: flex;

    form {
      // flex: 1 1 auto;
      height: 100%;
      color: white;

      button {
        height: 100%;
        border: 0;
        background-color: #e0e0e0;
        color: white;
      }
    }

    a {
      width: 100%;
    }
  }

  .proposal, .issue, .discussion {
    // margin-left: 0px;
    // padding-left: 26px !important;
    // margin-bottom: 16px;

    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    margin: 0;
  }
}

.upvote-div {
  // width: 20px;
  // float: left;
  // display: inline-block;
  // position: relative;
  // margin-top: 4px;
  // left: -5px;
  // text-align: center;
  // color: #757575;
  // height: 100%;
  // vertical-align: top;

  flex: 1 1 auto;

  form {
    height: 14px;
  }

	input {
		border: none;
		background: url(two-arrow.svg) center no-repeat;
    background-size: 20px;
		width: 100%;
	}

  .gray-upvote {
    background: url(two-arrow.svg) center no-repeat;
    background-size: 18px;
    border: 0;

    &:active, &:focus {
      outline: 0;
    }

    span {
      color: #888888;
      top: 9px;
      position: relative;
    }
  }

	.red-upvote {
		// background: url(two-arrow-red.svg) center no-repeat;
    background: url(two-arrow-white.svg) center no-repeat;
    background-size: 18px;
    border: 0;
    background-color: #ff7455 !important;

    &:active, &:focus {
      outline: 0;
    }

    span {
      // color: #ff7455;
      color: white;
      // color: #fbbf33;
      top: 9px;
      position: relative;
    }
	}
}

.post-stuff {
  .upvote-div > form {
    position: absolute;
    top: 12px; 
  }
}

// h2 {
//   font-family: 'Oswald', sans-serif;
// }

// .discussion {
//   padding: 12px;
//   border-radius: 2px;
//   margin-bottom: 10px;
//   display: block;
//   background-color: #343536;
// }

.feed-label {
  color: white !important;
  text-transform: uppercase;
  font-size: 10px;
  // background-color: #fd9f8c;
  background-color: #2afb43;
  padding: 1px 4px;
  border-radius: 2px;
  line-height: 12px;
}

.issue .feed-label {
  background-color: #3be1ea;
}

.discussion .feed-label {
  background-color: $label-blue;
}

.goal-title .feed-label {
  background-color: #f577df;
}

.delete-button {
	float: right;
	margin-right: 2px;
  a {
    color: transparent;
  }
}

.pagination {
	margin: 0;
	margin-left: 14px;
	margin-bottom: 10px;
}



// SIDE INFO
#main-feed {

  ol {
    display: inline-block;
    vertical-align: top;

    @media (max-width: 768px) {
        width: 100% !important;
    }
  }

  ol.new-posts {
    padding: 0;
    margin-right: 1em; 
    margin-top: 10px;
    width: 75%;
  }

  ol.side-card {
      padding: 0;
      width: 25%;
      margin-top: 10px;
      background-color: white;

    li {
      color: #525252;
    }

    .card-item {
      margin-bottom: 2em;
      // background-color: $offwhite;
      list-style: none;
      vertical-align: top;

      .flex-container {
        // max-width: 176px;
        margin: 2px;
      }

      h2 {
        margin: 0;
        color: #525252;
        // font-weight: bold;
      }

      a > li {
        margin: 4px;
        margin-left: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 2px 4px;
        // margin: 8px 4px;
        margin-left: 2px;
        /* box-shadow: 0px 3px 6px 0px #d0d0d0; */
        // border: 1px solid #cacaca;
        // background-color: #f7f7f7;

        em {
          color: black;
        }
      }
    }
  }
}

.dashboard-item {
	display: inline-block;
	vertical-align: top;
  margin-right: 40px;

	h1, h2 {
		color: #525252;
	}
}

.dashboard-item.mini {
	width: 100%;
}

.dashboard-item ul {
	padding: 0;
}

.dashboard-item li {
	list-style: none;
	font-size: 13px;
	margin: 4px;
  margin-left: 0;
	background-color: $offwhite;
  
  &:hover {
    text-decoration: underline;
  }
}

.dashboard-item li a {
	padding: 4px;
	width: 100%;
}

#feed-path {
	float: left;
}


// NOTIFICATIONS
#notifications {
  // background-color: white;
  // border: 1px solid gray;
  list-style: none;
  padding: 0;
  // padding: 2px 4px !important;
  // margin-bottom: 10px !important;

  li {
    padding: 6px 4px;
  }

  div {
    max-width: 500px;
    // width: fit-content;
    margin: 8px 0px;
    // background-color: #e0e0e0;
    border: 1px solid #c1c1c1;
    border-radius: 2px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.side-card {
  h2 {
    display: inline-block;
  }

  #all-notifications {
    color: #525252;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 0.8em;
  }
}

.vertical {
  flex-direction: column;
}

// .notification-number {
//   position: relative;
//   left: 4px;
//   top: -4px;
//   background-color: #61e2ff;
//   border-radius: 10px;
//   padding: 2px 6px;
// }

.unread {
  // border: 1px solid gray;
  // background-color: lightgray;
  background-color: #a4edfd !important;
}

// ABOUT
#about-outer {
  background-color: white;
  border: 1px solid #d8d8d8;
  padding: 10px 30px;

  h1 {
    text-decoration: underline;
    text-decoration-color: #b1b1b1;
  }

  h2 {
    font-family: inherit;
  }
}

#about-sections {
  // padding-left: 0px;
  background-color: #f5f5f5;
  border: 1px solid #d8d8d8;
  width: fit-content;
  padding: 10px;

  li > a {
    color: rgb(6, 69, 173);
    text-decoration: none;
    background: none;
    font-style: normal;
    &:hover {
      text-decoration: underline;
    }
  }

  li {
    margin-top: 4px;
    display: block;
  }

  li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
  }

  ol {
    padding-left: 1em;
  }
}

ol {
  counter-reset: item;
}

#scoring-visual {
  img {
    vertical-align: top;
    width: 200px;
  }

  ul {
    display: inline-block;
    padding: 0;
    margin-right: 20px;

    li {
      list-style: none;
      font-size: 18px;
      line-height: 20px;
    }
  }
}

.home-notifications #notifications li {
  padding: 2px 4px;
  background-color: white;
  font-style: normal;
  // border: 2px solid #61e2ff;
  border-radius: 2px;
}

li.home-item {
  font-style: normal;
  font-size: 14px;
}

li.home-item-underlined {

  .issue {
    display: flex;
    background-color: white;
    // border: 1px solid #d8d8d8;
    // padding: 6px 12px;
    padding: 20px;
    border-radius: 3px;
    // border-radius: 20px;
    margin-bottom: 20px;

    > div {
      margin: 10px;
    }

    > .issue-title { width: 50%; }
    > .facilitating {
      width: 20%;
      text-align: center;
      padding-top: 10px;
      color: #f06c9d;
    }
    > .facilitator {
      width: 20%;
      text-align: center;
      padding-top: 10px;
      color: #ec6f68;;
    }
    > .issue-info {
      width: 30%;
      text-align: center;

      i {
        color: #6fcae8;
      }

      > div > div {
        font-size: 20px;
        margin: 0px;
        margin-top: 6px;
      }
    }
  }

  &:hover {
    text-decoration: none;

    .issue-title {
      text-decoration: underline;
    }
  }
}
// CHOICE ENDS