<p>The collective action that you agreed to participate in <strong><%= @activity.title %></strong> has enough participants, and has been activated</p>
<p>Description: <%= @activity.description %></p>

<%= link_to "View", action_url(@activity.id) %>