<footer class="page-footer font-small indigo">
  <small>This is an open-source encrypted platform. The source code is available <a target="_blank" href="https://github.com/DecentralizedCAN/CAN">here</a>.</small>
  <small>To get in contact with the developer, email rebel-software@protonmail.com</small>
</footer>